
button {
    background-color: #747474;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #7c8384;
    transform: translateY(-2px);
}

button:active {
    background-color: #7c8384;
    transform: translateY(1px);
}

.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #524F26;
}

.confirmation-message {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message img.success-icon {
    width: 100px;
    margin-bottom: 20px;
}

.confirmation-message h1 {
    margin-bottom: 20px;
}

.confirmation-message p {
    margin-bottom: 30px;
}

.confirmation-message .order-summary {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.confirmation-message .order-summary h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.confirmation-message .order-details p {
    margin: 5px 0;
}

.confirmation-message button {
    background-color: #827F3C;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message button:hover {
    background-color: #D9D365;
    transform: translateY(-2px);
}

.confirmation-message button:active {
    background-color: #1ba9b5;
    transform: translateY(1px);
}
