* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: var(--bg-color) #1d2631;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
}

p {
    color: #000000;


}

.cart p {
    font-weight: bold;
}

.home-text p {
    color: #ffffff
}



body {
    background-color: #1d2631;
    color: var(--tex-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    display: flex;
}


.logo {
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;
}

.logo i {
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação {
    display: flex;
}

.navegação a {
    color: var(--other-color);
    font-size: 22px;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover {
    color: var(--main-color);

}


.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i {
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
    .product-image {
        background-color: #000000;
        border: 1px solid #ccc;
        color: white;
        border-radius: 8px;
        height: 100px;
        line-height: 100px;
        margin-bottom: 15px;
        text-align: center;
        vertical-align: middle;
    }
}

.header-icons i:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}


.section {

    padding: 0 15%;
}
/*
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}*/
/* Estilos para a seção principal */
.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 300px;
}

.home-text {
    height: 70vh;
    flex: 1;
    padding: 0 20px;
}
/*
.home-text h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text p {
    margin-right: 50px;
}

.home-text h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}


.home-img img {
    max-width: 100%;
    width: 35rem;
    height: auto;
    margin-left: 35%;
}
*/

.btn {
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px var(--tex-color);
    transition: all.55 ease;
    color: #fff;
    /*muda oq ????*/
}

.btn:hover {
    background: var(--tex-color);
    border: 2px solid var(--tex-color);
    color: #000;
}


main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img {
    width: 50px;
    height: auto;
    max-width: 100%;
}

.row {
    background: var(--main-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row:hover {
    transform: translateY(-8px);

}

.row2 {
    background: #ff758d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row2:hover {
    transform: translateY(-8px);
}

.row3 {
    background: #ffd06d;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;

}

.row3:hover {
    transform: translateY(-8px);
}

.row4 {
    background: #eefa40;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;

}

.row4:hover {
    transform: translateY(-8px);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

footer .footer-logo {
    font-size: 20px;
    font-weight: bold;
}

footer .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-links li {
    display: inline-block;
    margin-right: 20px;
}

footer .footer-links a {
    text-decoration: none;
    color: #333;
}

footer .footer-social {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .footer-social li {
    display: inline-block;
    margin-right: 20px;
}

footer .footer-social a {
    text-decoration: none;
    color: #333;
}

footer .footer-social i {
    font-size: 24px;
    margin-right: 5px;
}

footer .footer-copyright {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 5%;
    flex-direction: row;
}


.product p {
    color: #000000;

}


.products button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.products button:hover {
    background-color: #D9D365;
}


.product {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.product-image {
    background-color: #000000;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

.product-imageIntegrados {
    background-color: #656562;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

.cart {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.cart button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart button:hover {
    /* Hover state styles */
    background-color: #D4C900;
    /* Darker green on hover */
}


/*---sac---*/
#faq details summary {
    display: flex;
    /* Allow space for the icon */
    align-items: center;
    /* Align icon vertically */
}

#faq details summary .faq-icon {
    margin-right: 10px;
    /* Add space between icon and text */
}

#faq details {
    color: #000;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#faq details:hover {
    background-color: #6c7667;
}

#faq details summary {
    font-weight: bold;
}

#faq details p {
    /*display: none; /* Hide answer initially */
    padding: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
    /* Add a subtle border to separate paragraphs */
}


#faq h2 {
    text-align: center;
    margin-bottom: 20px;
    /* Add some spacing below the heading */
}

.a {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;
}


.section-title {
    margin-top: 40px;
}

.form-container {
    padding: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #3a8a34;
    color: #ffffff;
    border: none;
    padding: 20px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #D9D365;
}

.question p {
    padding: 10px 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
    color: #000000;
}


/*---finalizarCompra--*/

.cartSection {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.cartItems {

    width: 45%;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.cartItems p {
    color: #000;
}

.checkoutForm {
    width: 60%;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checkoutForm h3,
.checkoutForm h4 {
    margin-top: 0;
}

.payment-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.payment-options label {
    margin: 10px 0;
}

.input-group {
    margin-bottom: 15px;
}

.checkoutForm input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.checkoutForm input[type="radio"] {
    padding: 8px;
    margin-bottom: 10px;
}

.checkoutForm button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkoutForm button:hover {
    background-color: #D9D365;
    transform: translateY(-2px);
}

.checkoutForm button:active {
    background-color: #1ba9b5;
    transform: translateY(1px);
}

/*---compraRealizada--*/

.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #524F26;
}

.confirmation-message {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message img.success-icon {
    width: 100px;
    margin-bottom: 20px;
}

.confirmation-message h1 {
    margin-bottom: 20px;
}

.confirmation-message p {
    margin-bottom: 30px;
}

.confirmation-message .order-summary {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.confirmation-message .order-summary h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.confirmation-message .order-details p {
    margin: 5px 0;
}

.confirmation-message button {
    background-color: #827F3C;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message button:hover {
    background-color: #D9D365;
    transform: translateY(-2px);
}

.confirmation-message button:active {
    background-color: #1ba9b5;
    transform: translateY(1px);
}

/*CONTADOR DO CARRINHO DE COMPRAS*/
#cart-count {
    /* Existing styles from your code */
    display: inline-block;
    /* Allow inline display */
    font-size: 18px;
    /* Adjust font size as needed */
    font-weight: bold;
    /* Make the count stand out */
    position: relative;
    top: -10px;
    /* Move the count above the icon */
    right: -5px;
    /*color: #f00; /* Red color for emphasis (change as desired) */
    border-radius: 5px;
    /* Add rounded corners */
    padding: 5px 10px;
    /* Add some padding for visual comfort */
    background-color: #6e766a;
    /* White background (adjust as needed) */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow effect */
}

#cart-items {
    list-style: none;
    /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item span {
    flex: 1;
}

.cart-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.cart-item button:hover {
    background-color: #0056b3;
}

.cart-item button.remove-item {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
}

.cart-item button.remove-item:hover {
    background-color: #ff1a1a;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
}

.quantity-controls span {
    margin: 0 -2px;
    width: 30px;
    text-align: center;
}

#cart-items li {
    margin-bottom: 10px;
    /* Add space between list items */
}



/* CSS para o menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.user-icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
