/* Estilos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.navegação {
    list-style: none;
    display: flex;
}

.navegação li {
    margin-right: 20px;
}

.navegação li a {
    text-decoration: none;
    color: #fff;
}

.header-icons {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para a seção principal */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.home-text {
    flex: 1;
    padding: 0 20px;
}

/* Estilos para a seção de recursos principais */
.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main .row {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.main .row img {
    width: 100%;
    cursor: pointer;
}

/* Estilos para o rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin-right: 20px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}
