body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.product {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.product-image {
    background-color: #000000;
    border: 1px solid #ccc;
    color: white;
    border-radius: 8px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

button {
    background-color: #747474;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #7c8384;
    transform: translateY(-2px);
}

button:active {
    background-color: #7c8384;
    transform: translateY(1px);
}

.cart {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.cartSection {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.cartItems {
    width: 45%;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checkoutForm {
    width: 45%;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checkoutForm h3, .checkoutForm h4 {
    margin-top: 0;
}

.payment-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.payment-options label {
    margin: 10px 0;
}

.input-group {
    margin-bottom: 15px;
}

.checkoutForm input[type="text"], .checkoutForm input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.checkoutForm button {
    background-color: #34e7f8;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkoutForm button:hover {
    background-color: #28c3d6;
    transform: translateY(-2px);
}

.checkoutForm button:active {
    background-color: #1ba9b5;
    transform: translateY(1px);
}






.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #524F26;
}

.confirmation-message {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message img.success-icon {
    width: 100px;
    margin-bottom: 20px;
}

.confirmation-message h1 {
    margin-bottom: 20px;
}

.confirmation-message p {
    margin-bottom: 30px;
}

.confirmation-message .order-summary {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.confirmation-message .order-summary h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.confirmation-message .order-details p {
    margin: 5px 0;
}

.confirmation-message button {
    background-color: #827F3C;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-message button:hover {
    background-color: #D9D365;
    transform: translateY(-2px);
}

.confirmation-message button:active {
    background-color: #1ba9b5;
    transform: translateY(1px);
}





.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;
}

.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegação{
    display: flex;
}

.navegação a{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover{
    color: var(--main-color);

}


.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}